<div class="container">
  <div class="row">
    <div id="about-start" class="twelve columns">
    <h3>About</h3>  
      <p>I'm a software developer who loves studying, experimenting with and applying deep learning to improve our existence. My focus is on self-driving cars and natural language processing. I also do web development.</p>
    </div>
  </div>
</div>

<div id="skills" class="container">
<div class="four columns value-prop">


  <h3>Deep Learning</h3><i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i>
  I train and evaluate data using a variety of approaches, including convolutional and recurrent neural networks. I write code in Python and make use of the fantastic Keras and TensorFlow.
</div>
<div class="four columns value-prop">  
  <h3>Computer Vision</h3><i class="fa fa-camera-retro fa-2x" aria-hidden="true"></i>
  OpenCV and Matplotlib are good friends I use to pre-process images to make training data more efficient and effective. I apply techniques including grayscale, and Hough Transform. 
</div>
<div class="four columns value-prop">

<h3>Front End</h3><i class="fa fa-pencil fa-2x" aria-hidden="true"></i>

   I use JavaScript, Angular2, HTML5 and CSS3 for coding and designing clean, functional and attractive websites. I use Node.js/Express.js for server-side development.  
</div>
</div>