<div class="container">
  <div class="row">
    <div id="about-start" class="twelve columns">
      <h2>About</h2>  
        <p> I work to develop, understand and explain deep learning and robotics technologies with a focus on self-driving cars and natural language processing. I also do full-stack web development. 
      </div>
    </div>
  </div>

  <div id="skills" class="container">
    <div class="four columns value-prop">
      <h3>Deep Learning</h3>
        <p><i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i>I use a variety of approaches, including convolutional and recurrent neural networks, to teach machines to learn from data. I write code in Python and make use of the fantastic Keras and TensorFlow.</p>
  </div>
  <div class="four columns value-prop">  
    <h3>Computer Vision</h3>
      <p><i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i>OpenCV and Matplotlib are good friends I use to pre-process images to make training data more efficient and effective. I apply techniques including grayscale, and Hough Transform.</p> 
  </div>
  <div class="four columns value-prop">
    <h3>Web Development</h3>
      <p><i class="fa fa-pencil fa-2x" aria-hidden="true"></i>I use JavaScript, Angular2, HTML5 and CSS3 for coding and designing clean, functional and attractive websites. Node.js/Express.js are my go-tos for server-side development.</p>  
  </div>
</div>