<div id="writing">
	<div class="container">	
		<div class="row">
	    	<div id="writing-start" class="twelve columns">
		      <h2>Teaching a car to drive using deep learning</h2>  
		        <p>I'm a software developer who loves studying, experimenting with and applying deep learning. I'm a student on Udacity's excellent Self-Driving Car and  Artificial Intelligence nanodegrees, and am passionate about the power of deep learning to improve the way we do things.
		        I also do web development and enjoy swapping ideas and skills at Seattle's tech meetups. When away from the code, I venture into the nortwest's stunning nature, climb, run, and indulge a love of Ethiopian coffee.</p>
	    	</div>
	 	</div>
	</div>
</div>
