
<div id="projects">
  <div class="container">

    <div class="row">
      <div class="twelve columns">
        <h3 id="projects-start">Recent Projects</h3>
      </div>
    </div>
   

<section class="projects-showcase">
  <div class="row">
    <div class="six columns u-pull-left">
      <div class="project-content text-left">
        <h3 class="project-title">Traffic Sign Classifier</h3> 
          <p class="project-description">I trained a classifier to recognize 98% of validation images by using a convolutional neural network to train the program on thousands of images from a German traffic sign dataset. The network is based on the LeNet architecture, with image pre-processing and five convolutional layers.</p>
            <a class="button button-primary" href="https://github.com/rastringer/Traffic-Sign-Classifier/blob/master/Traffic_Sign_Classifier.ipynb" target="_blank">See project</a>
      </div>
    </div>

    <div class="six columns u-pull-right">
      <img class="project-image" src="../../assets/images/traffic-sign.png" alt=""> 
    </div>
  </div>
</section>

<section class="projects-showcase">
  <div class="row"> 
    <div class="six columns u-pull-left">
      <img class="project-image" src="../../assets/images/laneLines.jpg" alt=""> 
    </div>

    <div class="six columns u-pull-right">
      <div class="project-content text-right">
        <h3 class="project-title">Road Lanes Detection</h3> 
          <p class="project-description">A fun project using OpenCV's computer vision methods to recognize lane line in the road. The pipeline processes images and video of the open road and applies techniques including grayscale, Hough Transform and Canny edge detection to discern lane lines.</p>
            <a class="button button-primary" href="https://github.com/rastringer/Road_Lanes_Detection/blob/master/lane_lines.ipynb" target="_blank">See project</a>
      </div>
    </div>
  </div>
</section>

<section class="projects-showcase">
  <div class="row">
    <div class="six columns u-pull-left">
      <div class="project-content text-left">
        <h3 class="project-title">As Far as the Eye Can See</h3> 
          <p class="project-description">A promotional website for an offical Montreal Film Festival selection. I enjoyed careful collaboration with designers and the director to wireframe and complete the project rapidly in time for the festival. Written in JavaScript, AngularJS and Node.js.</p>
            <a class="button button-primary" href="http://asfarasmovie.com" target="_blank">See project</a>
      </div>
    </div>
    
    <div class="six columns u-pull-right">
      <img class="project-image" src="../../assets/images/as-far.PNG" alt="">
    </div>
  </div>
</section>

</div><!--  end container  -->
</div><!--  end #projects -->
