
<div id="projects">
  <div class="container">

    <div class="row">
      <div class="twelve columns">
        <h2 id="projects-start">Recent Projects</h2>
      </div>
    </div>


<section class="projects-showcase">
  <div class="row">
    <div class="six columns u-pull-left">
      <div class="project-content text-left">
        <h3 class="project-title">Speech Processing</h3>
          <p class="project-description">Automatic speech recognition using recurrent neural networks and acoustic modelling. Written in Python/Keras.</p>
            <a class="button button-primary" href="https://github.com/rastringer/speech_recognition/blob/master/vui_notebook.ipynb" target="_blank">See project</a>
      </div>
    </div>

    <div class="six columns u-pull-right">
      <img class="project-image" src="../../assets/images/simple_rnn.png" alt="Project model">
    </div>
  </div>
</section>

<section class="projects-showcase">
  <div class="row">
    <div class="six columns u-pull-left">
      <img class="project-image" src="../../assets/images/husky.jpg" alt="Husky">
    </div>

    <div class="six columns u-pull-right">
      <div class="project-content text-right">
        <h3 class="project-title">Convolutional Neural Network to Detect Dog Breed</h3>
          <p class="project-description">Deep learning to detect dog breed, or which breed a human most resembles. Models in Keras including transfer learning examples using VGG16 and ResNet50.</p>
            <a class="button button-primary" href="https://github.com/rastringer/dog_breed_detector/blob/master/dog_app.ipynb" target="_blank">See project</a>
      </div>
    </div>
  </div>
</section>

<section class="projects-showcase">
  <div class="row">
    <div class="six columns u-pull-left">
      <div class="project-content text-left">
        <h3 class="project-title">Advanced Lane Finding</h3>
          <p class="project-description">Computer vision techniques including camera calibration, binary color transform, sobel methods for line gradients, warping and curvature overlaying, to detect road lanes in images and video.</p>
            <a class="button button-primary" href="https://github.com/rastringer/Advanced_Lane_Finding" target="_blank">See project</a>
      </div>
    </div>

    <div class="six columns u-pull-right">
      <video class="project-image" controls="controls">
        <source src="../../assets/images/output1_tracked.mp4" type="video/mp4">
      </video>
    </div>
  </div>
</section>

<section class="projects-showcase">
  <div class="row">
    <div class="six columns u-pull-right">
      <div class="project-content text-right">
        <h3 class="project-title">Teaching a Car to Drive with Deep Learning</h3>
          <p class="project-description">Convolutional neural network to teach a car to drive autonomously in Udacity's virtual simulator. Written in Python and Keras, with inspiration from Nvidia for the model. The video is the car driving itself.</p>
            <a class="button button-primary" href="https://github.com/rastringer/Behavioral-Cloning" target="_blank">See project</a>
      </div>
    </div>

    <div class="row">
    <div class="six columns u-pull-left">
      <video class="project-image" controls="controls">
        <source src="../../assets/images/autonomous_driving_udacity_data_trimmed.mp4" type="video/mp4">
      </video>
    </div>
  </div>
  </div>
</section>

<section class="projects-showcase">
  <div class="row">
    <div class="six columns u-pull-left">
      <div class="project-content text-left">
        <h3 class="project-title">Traffic Sign Classifier</h3>
          <p class="project-description">Classifier that recognizes 98% of validation images by using a convolutional neural network to train the program on thousands of photos of  German traffic signs. The network is based on LeNet architecture, with image pre-processing, three convolutional layers and two fully connected layers.</p>
            <a class="button button-primary" href="https://github.com/rastringer/Traffic-Sign-Classifier/blob/master/Traffic_Sign_Classifier.ipynb" target="_blank">See project</a>
      </div>
    </div>

    <div class="six columns u-pull-right">
      <img class="project-image" src="../../assets/images/traffic-sign.png" alt="Traffic Sign">
    </div>
  </div>
</section>

<section class="projects-showcase">
  <div class="row">
    <div class="six columns u-pull-left">
      <video class="project-image" controls="controls">
        <source src="../../assets/images/project_video_v4.mp4" type="video/mp4">
      </video>
    </div>

    <div class="six columns u-pull-right">
      <div class="project-content text-right">
        <h3 class="project-title">Vehicle Tracking</h3>
          <p class="project-description">Detecting and tracking vehicles using HOG features, support vector machines, and box bounding. Written in Python.</p>
            <a class="button button-primary" href="https://github.com/rastringer/Vehicle-Detection" target="_blank">See project</a>
      </div>
    </div>
  </div>
</section>

<!-- <section class="projects-showcase">
  <div class="row">
    <div class="six columns u-pull-left">
      <div class="project-content text-left">
        <h3 class="project-title">As Far as the Eye Can See</h3>
          <p class="project-description">A promotional website for an offical Montreal Film Festival selection. I enjoyed careful collaboration with designers and the director to wireframe and complete the project rapidly in time for the festival. Written in JavaScript, AngularJS and Node.js.</p>
            <a class="button button-primary" href="http://asfarasmovie.com" target="_blank">See project</a>
      </div>
    </div>

    <div class="six columns u-pull-right">
      <img class="project-image" src="../../assets/images/as-far.PNG" alt="Project Image">
    </div>
  </div>
</section> -->

</div><!--  end container  -->
</div><!--  end #projects -->
