
<div id="projects">
<div class="container">
  <div class="row">
    <div class="twelve columns">
     <h3 id="projects-start">Recent Projects</h3>
    </div>
    </div>
   

    <section class="projects-showcase">
    <div class="row">
      <div class="six columns u-pull-left">
        <div class="project-content text-left">
        <h3 class="project-title">Traffic Sign Classifier</h3> 
          <p class="project-description">Pellentesque porta dui a massa gravida eleifend. Praesent consectetur vehicula neque nec pellentesque. Nam semper nisl sit amet tempor rhoncus.Pellentesque porta dui a massa gravida eleifend. Praesent consectetur vehicula neque nec pellentesque.</p>
          <a class="button button-primary" href="https://github.com/rastringer/Traffic-Sign-Classifier/blob/master/Traffic_Sign_Classifier.ipynb" target="_blank">See more</a>
        </div>
      </div>


    <div class="six columns u-pull-right">
      <img class="project-image" src="../../assets/images/traffic-sign.png" alt=""> 
    </div>
        </div>
  </section>

  <section class="projects-showcase">
    <div class="row">

<div class="six columns u-pull-left">
      <img class="project-image" src="../../assets/images/laneLines.jpg" alt=""> 
    </div>

      <div class="six columns u-pull-right">
        <div class="project-content text-right">
        <h3 class="project-title">Road Lanes Detection</h3> 
          <p class="project-description">Pellentesque porta dui a massa gravida eleifend. Praesent consectetur vehicula neque nec pellentesque. Nam semper nisl sit amet tempor rhoncus.Pellentesque porta dui a massa gravida eleifend. Praesent consectetur vehicula neque nec pellentesque.</p>
          <a class="button button-primary" href="https://github.com/rastringer/Road_Lanes_Detection/blob/master/lane_lines.ipynb" target="_blank">See more</a>
        </div>
      </div>
    </div>

    
  </section>

  <section class="projects-showcase">
    <div class="row">
      <div class="six columns u-pull-left">
        <div class="project-content text-left">
        <h3 class="project-title">As Far as the Eye Can See</h3> 
          <p class="project-description">Pellentesque porta dui a massa gravida eleifend. Praesent consectetur vehicula neque nec pellentesque. Nam semper nisl sit amet tempor rhoncus.Pellentesque porta dui a massa gravida eleifend. Praesent consectetur vehicula neque nec pellentesque.</p>
          <a class="button button-primary" href="http://asfarasmovie.com" target="_blank">See more</a>
        </div>
      </div>
    

    <div class="six columns u-pull-right">
      <img class="project-image" src="../../assets/images/as-far.png" alt="">
    </div>
  </div>
  </section>
   
</div>
</div>
