
<header>
  <nav class="navbar">
    <div class="thirteen columns">
      <nav class="main-nav">
        <ul class="main-nav">
          <li class="navbar-item">
            <a pageScroll href="#about-start" class="navbar-link">About</a>
          </li>
          <li class="navbar-item">
            <a pageScroll href="#projects-start" class="navbar-link">Projects</a>
          </li>
          <li class="navbar-item">
            <a href="../../assets/Robin_Stringer_Resume_WB_ML_BT.pdf" class="navbar-link">Resume</a>
          </li>                            
          <li class="navbar-item">
            <a pageScroll href="#contact" class="navbar-link">Connect</a>
          </li>  
        </ul>
      </nav>
    </div>
  </nav>
</header>   

<div class="section hero">
  <div class="container">
    <div class="row">
      <div class="section-heading">
        <h1 class="hero-heading">{{title}}</h1>
      </div>
    </div>
  </div>
</div>

<div id="fancy-image" class="section values">
</div>

<app-about></app-about>
<app-projects></app-projects>

<!-- <router-outlet></router-outlet> -->
<footer>
  <div id="contact" class="section get-help">
    <div class="container">
      <h3 class="section-heading">Let's work together</h3>
        <a id="email" class="button button-primary" href="mailto:ra1stringerATgmailDOTcom" onclick="this.href=this.href.replace(/AT/, '@').replace(/DOT/,'.')">E-Mail Me</a>
      <div class="row">
        <div class="twelve columns">
          <a href="https://www.linkedin.com/in/robin-stringer"  target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
          <a href="https://github.com//rastringer"  target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
          <p>Site by me, with thanks to Angular and Skeleton.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
