/* "adriane", Georgia, serif;*/

.section {
  padding: 8rem 0 7rem;
  text-align: center;
}

h1 { 
  font-size: 34px;	
  }

.hero {
/*  background-image: url('https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fnickbotner.com%2Fblog-images%2FWA_Lake-Serene%2Flake-serene-bridal-veil-falls-26.jpg&f=1');*/
/*  color: #fff;*/
  background-size: cover;
  height: 100%;
  padding-bottom: 5rem;
  margin-top: 5rem;
}

/*navbar*/

.navbar-list {
  color: #fffff;
  opacity: 0.7;
  list-style: none;
  margin-bottom: 0;
  float: left;
  position: fixed;
  top: 25px;
  left: 25px;
  right: 25px;
  padding-right: 10px;
/*  background-color: white;*/
  z-index: 150;
  min-width: 1200px;
}

.navbar-item {
    position: relative;
    float: right;
    left: 25px;
    margin-bottom: 1;
    background-color: white;
}

.navbar-link {
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 15px;
    margin-left: 15px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
}

.navbar-link {  
	overflow: hidden;
}

.navbar-link::after {
  background-color: green;
  content: "";
  width: 0;
  height: 3px;
  left: 12px;
  bottom: 0;
  transition: width 0.35s ease 0s;
  position: absolute;
}

.navbar-link:hover::after {
  width: 80%;
}

.values {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/5d/Maple_Glade_Trail,_Olympic_National_Park.jpg');
  background-size: cover;
  min-height: 160px;
  color: #fff;
  margin-bottom: 3rem;
}

.button {
  background-color: green;
}

h3 {
  font-size: 2em;
}


footer {
  text-align: center;
}

footer a {
  text-decoration: none;
  color:#000;
  opacity: 0.9;
}

footer a:hover {
  opacity: 0.3;
}

footer .fa {
  width: 40px;
  height: 40px;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 5rem;
}

