body { 
  font-size: 12px;
  opacity: 0.9;
  font-family: 'Arvo', serif;
  letter-spacing: 0.1em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

.section {
  padding: 8rem 0 7rem;
  text-align: center;
}

.hero {
  background-size: cover;
  height: 100%;
  padding-bottom: 5rem;
  margin-top: 5rem;
}

.hero h1 {
  letter-spacing: 0.1em;
  line-height: 1.2em;
  font-weight: bold;
}

li a {
  text-decoration: none; 
}

nav.main-nav {
  position: fixed;
  text-align: right;
  opacity: 0.7;
  top: 25px;
  left: 5px;
  right: 5px;
  padding-right: 10px;
  margin-bottom: 0;
  z-index: 150;
}

nav.main-nav ul li {
  font-weight: 500;
  display: inline;
  list-style-type: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  background-color: #ffffff;
}

nav.main-nav ul li:hover {
  opacity: 0.4;
}

a { 
  color: black; 
}

.values {
  background-image: url(../assets/images/olympic_national_park.jpg);
  background-size: cover;
  min-height: 160px;
  margin-bottom: 3rem;
}

.button {
  background-color: green;
  color: #fffff;
  font-size: 0.9em;
}

footer {
  text-align: center;
}

footer a {
  text-decoration: none;
  color:#000;
  opacity: 0.9;
}

footer a:hover {
  opacity: 0.3;
}

footer .fa {
  width: 40px;
  height: 40px;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 5rem;
}

#email {
  color: #ffffff;
}

/* Larger than mobile */
@media (min-width: 200px) {
  .navbar {
    font-size: 0.5em;
    padding-left: 5px;
    padding-right: 5px;
  }
  nav.main-nav ul li {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (min-width: 400px) {
  .navbar {
    font-size: 0.7em;
  }
  nav.main-nav ul li {
    padding-left: 10px;
    padding-right: 10px;
  }

}

/* Larger than phablet */
@media (min-width: 550px) {
  .navbar {
    font-size: 1em;
  }
  nav.main-nav ul li {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
