/* You can add global styles to this file, and also import other style files */
body {
	font-size: 12px;
	opacity: 0.9;
  font-family: 'Arvo', serif;
  letter-spacing: 0.1em;
}

p {
  font-size: 1em;
  line-height: 2em;
  margin-bottom: 1.5em;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 200px) {
  .navbar {
    font-size: 0.5em;
  }

}

@media (min-width: 400px) {
  .navbar {
    font-size: 0.7em;
  }

}


/* Larger than phablet */
@media (min-width: 550px) {
  .navbar {
    font-size: 1em;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
